<!-- info-details.component.html -->
<aside class="info-details">
    <h2>კონტაქტი</h2>
    <p>მოგვმართეთ ნებისმიერი შეკითხვისთვის!</p>
    <ul class="contact-list">
      <li>
        <span class="contact-icon">
          <mat-icon>phone</mat-icon> <!-- Change 'phone' to 'მობილურის ნომერი' -->
        </span>
        <a href="tel:+99555555555">+995-555-555-555</a>
      </li>
      <li>
        <span class="contact-icon">
          <mat-icon>email</mat-icon>
        </span>
        <a href="mailto:info@example.com">info&#64;example.com</a>
      </li>
      <li>
        <span class="contact-icon">
          <mat-icon>place</mat-icon>
        </span>
        <address>წერეთელი ვორონინის 15</address>
      </li>
    </ul>
    <h2 class="location-title">ჩვენი მდებარეობა</h2>
    <iframe class="map-section"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3021.8995303681297!2d-73.96828528466782!3d40.78509117932424!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2589c81655a8d%3A0x7c8d9e4f7bb1c0d2!2sCentral%20Park%2C%20New%20York%2C%20NY!5e0!3m2!1sen!2sus!4v1618336545781!5m2!1sen!2sus"
      frameborder="0" allowfullscreen=""></iframe>
</aside>